.ReactModal__Overlay  {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content  {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.ReactModal__Content--after-open {
    opacity: 1;
}

.ReactModal__Content--before-close {
    opacity: 0;
}
